<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311294023209-1qm9m162g03m00idvbqqi3ro84e2ufmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311294023209-1qm9m162g03m00idvbqqi3ro84e2ufmn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>311294023209-5s815dfge6ri6355a9quikh9d6f7rou9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbuzA6td1-FMZnVXuZB5TGvRpjqeG0PfI</string>
	<key>GCM_SENDER_ID</key>
	<string>311294023209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spiritualhealing.iosapp</string>
	<key>PROJECT_ID</key>
	<string>trinil-sync</string>
	<key>STORAGE_BUCKET</key>
	<string>trinil-sync.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311294023209:ios:612421e328171a68f5ae38</string>
	<key>DATABASE_URL</key>
	<string>https://trinil-sync-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>